django
djangorestframework
djangorestframework-simplejwt
python-dotenv
requests
pdfplumber
python-docx
psycopg2-binary
groq
pytesseract
pdf2image
Pillow
django-cors-headers
drf-yasg
spacy
chromadb
sentence_transformers
dj-database-url 
psycopg2-binary
python-dotenv
whitenoise
gunicorn